

<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
    <div *ngIf="menuType!=='seller'" ></div>
    <a class="navbar-brand" href="#">Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div [ngSwitch]="menuType">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngSwitchCase="'default'">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Accueil</a>
        </li>
        <li  class="nav-item">
          <a class="nav-link" routerLink="seller-auth">vendeur</a>
        </li>
        <li  class="nav-item">
          <a class="nav-link" routerLink="user-auth">Seconnecter/Sinscrire</a>
        </li>
       
        <li  class="nav-item">
          <a class="nav-link" routerLink="contact">contact</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ||||
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">yassine</a></li>
            <li><a class="dropdown-item" href="#">catégores</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">site web d'achat en ligne</a></li>
          </ul>
        </li>
      </ul>
      <ul    class="navbar-nav me-auto mb-2 mb-lg-0"*ngSwitchCase="'user'" >
        <li class="nav-item"><a class="nav-link" routerLink="seller-auth">vendeur</a></li>
        <li class="nav-item"><a class="nav-link"routerLink="">Home</a></li>
        <li class="nav-item"><a class="nav-link">{{userName | titlecase}}</a></li>
        <li class="nav-item"><a  class="nav-link" routerLink="my-orders" ></a></li>
        <li class="nav-item"><a  class="nav-link" (click)="userLogout()" >déconnecter</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="cartItems>0?'cart-page':null">Panier({{cartItems}})</a></li>
      </ul>
      <ul *ngSwitchCase="'seller'">
        <li><a routerLink="seller-add-product">Add Product</a></li>
        <li><a routerLink="seller-home">List</a></li>
        <li><a (click)="logout()">Logout</a></li>
        <li><a href="#">{{sellerName | titlecase}}</a></li>
      </ul>
      </div>
     
      <div *ngIf="menuType!=='seller'" class="nav-search" style="width: 100%; float: right;">
        
      <div class="d-flex   text-end" style="width: 60%; float: right;">
        <input class="form-control ml-3 me-2"    #searchInput
        (keyup)="searchProduct($event)" (blur)="hideSearch()" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success"  (click)="submitSearch(searchInput.value)" type="submit">Search</button>
      
      <ul class="nav-item" class="suggested-search" *ngIf="searchresult">
        <li *ngFor="let item of searchresult">
          <a  class="nav-link" (mousedown)="redirectToDetails(item.id)" >{{item.name}} &&& {{item.id}}</a>
        </li>
      </ul>
    
    </div>
      </div>

    </div>
</nav>
   </div>
