<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>Navigation</h3>
        <ul>
          <li><a href="#">Acceuil</a></li>
          <li><a href="#">Profil</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3> mes coordonnés</h3>
        <p>Email: sallamyassine86@gmail.com</p>
        <p>tele: 0655936440</p>
      </div>
      <div class="col-md-4">
        <h3>Suivez nous</h3>
        <div class="social-media">
          <ul>
             <li> <a href="#">facebook</a></li>
           <li> <a href="#">intagram</a></li>
           <li> <a href="#">twiter</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyright">
      <p>Copyright © 2023 YASSINE  sallam</p>
    </div>
  </div>
</footer>
