<div class="add-product">
    <h1> ajouter un nouveau produit</h1>
    <h2>{{addproductMessage}}</h2>
    <form #addproduct="ngForm">
        <form #addProduct="ngForm"
        (ngSubmit)="submit(addProduct.value)"
         class="common-form">
          <input
            type="text"
            class="form-input"
            placeholder="Enter Product Name"
            name="name"
            ngModel
          />
          <input
          type="text"
          class="form-input"
          placeholder="Enter Product Price"
          name="price"
          ngModel
        />
        <input
        type="text"
        class="form-input"
        placeholder="Enter Product Category"
        name="category"
        ngModel
      />
      <input
      type="text"
      class="form-input"
      placeholder="Enter Product Color"
      name="color"
      ngModel
      />
      <textarea
      type="text"
      class="form-input"
      placeholder="Enter Product Description"
      name="description"
      ngModel
      ></textarea>
      
      <input
      type="file"
      class="form-input"
      (change)=" onFileSelected($event) " #fileInput
      placeholder="Enter Product Image URL"
      name="image"
      ngModel
      />
      <button type="submit" (click)="onSubmit()">Upload</button>
      
      </form>
      <button class="form-button">Add Product</button>
      
    </form>
    
</div>
